/* HEADER */

.header {
    width: 100%;
    position: relative;
    z-index: 10;
}

.header-container {
    max-width: 1400px;
    margin: 0 auto;
    padding: 20px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* LOGO */

.logo {
    font-size: 24px;
    font-weight: bold;
    color: #66d9ed;
    width: 8rem;
    font-family: 'Satoshi', sans-serif;
    letter-spacing: -1px;
    position: relative;
    display: inline-block;
    padding: 10px 0;
    overflow: visible;
}

.logo::after,
.logo::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    background: linear-gradient(to right, #ff0000, #00ffff);
    bottom: -8px;
    left: 0;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 0.6s ease-out;
    /* Plus lent: 0.4s → 0.6s */
}

.logo::before {
    top: -8px;
    transform-origin: left;
}

.logo:hover::after,
.logo:hover::before {
    transform: scaleX(1);
}


.logo span {
    display: inline-block;
    opacity: 0;
    transform: translateY(20px);
    animation: reveal 0.5s ease forwards;
}

.logo span:nth-child(1) {
    animation-delay: 0.1s;
}

.logo span:nth-child(2) {
    animation-delay: 0.2s;
}

.logo span:nth-child(3) {
    animation-delay: 0.3s;
}

.logo span:nth-child(4) {
    animation-delay: 0.4s;
}

.logo span:nth-child(5) {
    animation-delay: 0.5s;
}

.logo span:nth-child(6) {
    animation-delay: 0.6s;
}

.logo span:nth-child(7) {
    animation-delay: 0.7s;
}

@keyframes reveal {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* NAV */

.nav-list {
    display: flex;
    list-style: none;
    gap: 30px;
}

.nav-list a {
    color: #f5f5f5;
    text-decoration: none;
    font-size: 20px;
}


/* hover */

.nav-list a:hover {
    text-decoration: underline;
    text-decoration-style: wavy;
    text-decoration-color: whitesmoke;
    text-decoration-thickness: 2px;
    text-underline-offset: 6px;
}