/* RESET */
*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    min-height: 100vh;
    background-color: #0a001c;
    font-family: 'Satoshi', sans-serif;
}

/* LIGHT EFFECT */

body::after {
    content: "";
    position: fixed;
    inset: 0;
    background: radial-gradient(circle at 70% 40%, rgba(255, 255, 255, 0.08), transparent 60%);
    pointer-events: none;
    z-index: -1;
}

/* HERO */

.introduction {
    display: grid;
    grid-template-columns: 30% 70%;
    min-height: 100vh;
}

/* LEFT */
.screen {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.photo {
    position: relative;
    overflow: hidden;
    border-radius: 15px;
    transform: translateX(30px);
}

.photo img {
    width: 320px;
    display: block;
    border-radius: 15px;
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.4);
}

/* effet holographic */

.photo::before {
    content: "";
    position: absolute;
    top: -50%;
    left: -50%;
    width: 200%;
    height: 200%;
    background: linear-gradient(0deg, transparent, transparent 30%, rgba(106, 156, 165, 0.35));
    transform: rotate(-45deg);
    transition: transform 0.6s ease;
    pointer-events: none;
}

/* hover */

.photo:hover::before {
    transform: rotate(-45deg) translateY(100%);
}


/* RIGHT */

.hero-right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 120px 80px;
    color: whitesmoke;
}


.hero-right h2 {
    font-size: 48px;
    line-height: 1.1;
    margin-bottom: 20px;
    color: whitesmoke;
    ;
}

.hero-right p {
    color: whitesmoke;
    ;
}

.hero-right h3 {
    color: whitesmoke;
    ;
}

.wave {
    display: inline-block;
    animation: wave-animation 2s infinite;
    transform-origin: 70% 70%;
}

@keyframes wave-animation {

    0% {
        transform: rotate(0deg);
    }

    10% {
        transform: rotate(14deg);
    }

    20% {
        transform: rotate(-8deg);
    }

    30% {
        transform: rotate(14deg);
    }

    40% {
        transform: rotate(-4deg);
    }

    50% {
        transform: rotate(10deg);
    }

    60% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(0deg);
    }

}

.description {
    max-width: 700px;
    line-height: 1.6;
    margin-bottom: 40px;
}

/* BUTTON */
.cta {
    margin-top: 30px;
    padding: 14px 28px;
    border-radius: 8px;
    background: white;
    color: #0F0F12;
    border: 1px solid rgba(255, 255, 255, 0.2);
    cursor: pointer;
    transition: 0.3s;
    max-width: 200px;
    font-weight: bold;
    position: relative;
    overflow: hidden;
}

/* effet lumière */

.cta::before {
    content: "";
    position: absolute;
    top: 0;
    left: -100%;
    width: 50%;
    height: 100%;
    background: linear-gradient(120deg, transparent, rgba(255, 255, 255, 0.4), transparent);
    transform: skewX(-25deg);
    transition: 0.6s;
}

/* animation au hover */

.cta:hover::before {
    left: 150%;
}

.cta:hover {
    background: #0F0F12;
    color: white;
    transform: translateY(-2px);
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.3);
}


.projects {
    background: #EDDCC6;
    padding: 120px 80px;
    color: #0F0F12;
    border-radius: 20px;
}

.skills {
    background: #0a001c;
    color: white;
    padding: 120px 80px;
}

.contact {
    background: #0a001c;
    color: white;
    padding: 120px 80px;
}